<div class="max-w-md mx-auto mt-10 p-6 bg-white shadow-md rounded">
  <form>
    <div class="mb-4">
      <label for="initialSymbol" class="block text-gray-700 font-bold mb-2">Simbolo inicial:</label>
      <input type="text" id="initialSymbol" class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
    </div>
    
    @for (produccion of producciones; track $index) {
      <div class="mb-4">
        <div class="flex items-center">
          <label for="production{{$index}}" class="block text-gray-700 font-bold mb-2 flex-grow">Produccion {{$index + 1}}:</label>
          
          @if ($index > 0) {
            <button 
              type="button" 
              (click)="quitarProduccion($index)" 
              class="text-red-500 hover:text-red-700 flex items-center justify-center mb-2 h-6 w-6 rounded-full mr-2"
            >
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          }
          
          <button 
            type="button" 
            (click)="agregarProduccion()" 
            class="text-blue-500 hover:text-blue-700 flex items-center justify-center mb-2 h-6 w-6 rounded-full"
          >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
          </button>
        </div>
        <input 
          type="text" 
          id="production{{$index}}"
          [(ngModel)]="produccion.value" 
          [name]="'Produccion' + $index"
          class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
      </div>
    }
    
    <button 
    type="button" 
    (click)="enviar()" 
    class="w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-600"
  >
    Enviar
  </button>
  </form>
</div>